<div class="pl-[36px]">
<div class="flex flex-row flex-wrap justify-around ">
  <div class=" w-[543px] h-[184px] rounded-[25px] bg-[#D9D9D9] mb-5"></div>
<div class="w-[243px] h-[184px] rounded-[25px] bg-[#D9D9D9]  mb-5"></div>
<div class=" w-[243px] h-[184px] rounded-[25px] bg-[#D9D9D9] mb-5 "></div>
<div class="flex flex-row flex-wrap">
  <div class=" w-[124px] h-[112px] rounded-[25px] bg-[#D9D9D9] mb-5"></div>
  <div class="ml-[18px] w-[124px] h-[112px] rounded-[25px] bg-[#D9D9D9] mb-5"></div>
  <div class="ml-[18px] w-[124px] h-[112px] rounded-[25px] bg-[#D9D9D9] mb-5"></div>
  <div class="ml-[18px] w-[124px] h-[112px] rounded-[25px] bg-[#D9D9D9] mb-5"></div>

</div>
<div class="ml-[57px] w-[522px] h-full mb-5">
  <h2 class="font-inter text-24 font-bold text-black">CASAS INSTALADAS</h2></div>
</div>
<h2 class=" ml-[18px] font-inter text-24 font-bold text-black">MIS ESTADISTICAS</h2>
</div>
