<div class="flex flex-col justify-between h-screen pb-[10px]">
    <div>
        <!-- Flechita para volver al main  -->
      <div class="flex flex-row mt-[56px] justify-between mx-[24px]">
        <div class="flex flex-row       cursor-pointer" routerLink="/main/home">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" viewBox="0 0 16 28" fill="none">
            <path d="M14 2L2 14L14 26" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <!-- Numero de casa en la que te encontrás  -->
          <p class="font-[Gabarito] text-[25px] font-semibold text-black leading-none ml-[33px]">Casa 1</p>
        </div>


        <!-- Estadisticas  -->
        <div class="float-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
            <path d="M4.5 4.5V28.5C4.5 29.2956 4.81607 30.0587 5.37868 30.6213C5.94129 31.1839 6.70435 31.5 7.5 31.5H31.5"
              stroke="#4A5C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10.5 21L16.5 15L22.5 21L31.5 12" stroke="#4A5C43" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M27 12H31.5V16.5" stroke="#4A5C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>

      </div>

      <!-- tabs -->

      <ul class="flex justify-center  mt-[55px]">
        <li class="cursor-pointer ">
          <a [class]="activeTab === 'comedor' ? 'bg-[#C0CFE6] text-black px-4 py-2 rounded-l-[25px]' : 'bg-[#D4E0EE] text-black px-4 py-2 rounded-l-[25px]'"
            (click)="setActiveTab('comedor')">Comedor</a>
        </li>
        <li class="cursor-pointer">
          <a [class]="activeTab === 'habitacion' ? 'bg-[#C0CFE6] text-black px-4 py-2 rounded-r-[25px]' : 'bg-[#D4E0EE] text-black px-4 py-2 rounded-r-[25px]'"
            (click)="setActiveTab('habitacion')">Habitación</a>
        </li>
      </ul>
    </div>


    <!-- Temperatura de la habitacion/comedor  -->


    <div class="temperatura">
      <!-- <div class="grados">
        <p class="font-[Gabarito] text-[25px] font-semibold text-black leading-none ml-[33px]">23 grados</p>
      </div> -->
      <!-- <svg width="369" height="127" viewBox="0 0 369 127" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_197_381)">
          <rect x="12" y="115" width="103" height="345" rx="25" transform="rotate(-90 12 115)" fill="#F8F8F8"/>
        </g>
            <defs>
                <filter id="filter0_d_197_381" x="0" y="0" width="369" height="127" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="6"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_197_381"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_197_381" result="shape"/>
                </filter>
        </defs>
    </svg> -->
    <div class="flex flex-col items-center justify-center bg-[#C7C6C666] w-[350px] h-[100px] rounded-[25px] gap-4">
      <svg *ngIf="loading" aria-hidden="true" role="status" class="inline w-[23px] h-[23px] mr-3 text-black-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
      </svg>

      <h2 *ngIf="!loading" class="font-[Gabarito] text-[25px] justify-center flex items-center font-semibold text-[#494949] leading-none ml-[33px]">{{tempNow}} C°</h2>
      <h3 class="font-[Gabarito] text-[22px] justify-center flex items-center font-semibold text-[#494949] leading-none ml-[33px]">Temperatura de la habitación</h3>
    </div>
</div>


     <!-- Dentro de este div se ve la barra que esta en el bottom para entrar a las otras pantallas -->
    <div class="px-[20px] mb-[54px]">
    <options-menu-house [activeOption]="'temperatura'"></options-menu-house>

    </div>
  </div>
